<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <style>
    * {
        outline: blue solid 1px;
    }
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }

    </style>
    <body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="scope">First Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>

            <tbody>
            {% for data in users: %}
                <tr>
                    <td>{{ data['first_name'] }}</td>
                    <td>{{ data['last_name'] }}</td>
                    <td>{{ data['first_name'] }} {{data['last_name'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
