<!DOCTYPE html>
<html>
<head>
    <title>User Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <form>
        <p>Name: <input type="text" id="name"></p>
        <p>Dojo Location: <select name="location">
            <option value="dallas">Dallas</option>
            <option value="tulsa">Tulsa</option>
            <option value="silicon">Silicon Valley</option>
            <option value="chicago">Chicago</option>
        </select>
        </p>
        <p>Favorite Language: <select name="language">
            <option value="python">Python</option>
            <option value="mean">MEAN</option>
            <option value="ruby">Ruby on Rails</option>
            <option value="java">Java</option>
        </select>
        </p>
        <div>
            <p>Comment (optional):</p>
            <textarea></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>